<!-- <a class="list-group item clearfix">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{recipe.name}}</h4>
          <p class="list-group-item-text">{{recipe.description}}</p>  
        </div>
        <span class="pull-right">
          <img 
          src= alt="{{recipe.name}}"  class="img-fluid">
         </span>
  <div><hr></div>
</a> -->
<a href="#" class="clearfix text-dark" (click)="onSelect()" style="text-decoration: none;">
  <div class="card">
    <img src="{{recipe.imagePath}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{recipe.name}}</h5>
    </div>
  </div>
  <p></p>
</a>